<h1 style="text-align: center; font-weight: 200; padding-top: 100px;">Login/Register Page Design</h1>

<div class="container" style="text-align: center; padding-top: 50px;">
    <button><a href="/login">Go to Login Page</a></button>
    <button><a href="/register">Go to Register Page</a></button>
</div>