<h1 style="text-align: center; padding-top: 100px; font-weight: 200;">Login Page</h1>

<div class="login" style="text-align: center; padding-top: 50px;">
    <form action="/login" method="post">
        <input type="text" required placeholder="Enter your username">
        <input type="password" required placeholder="Enter your password">
        <button>Login</button>
    </form>
</div>